/*
 * CONTENTS
 *
 * SETTINGS
 * Global
 *
 * BASE
 * Element1:                   BlockT1
 *  Element2:                   BlockT2
 *    Element3:                   BlockT3
 *    Element3:                   BlockT3
 *    Element3:                   BlockT3
 *  Element2                   BlockT1
 *
 *
 *
 */

/*-------------------------
	#Spare
--------------------------*/

/* 
Moccasin 
#d05c26
*/
 
/*-------------------------
	#GLOBAL
--------------------------*/

html, body {
  height: 100%;
}

body {
  font-family: Helvetica;
}

.end-spacer__div {
  height: 100%;
  width: 100%
}


/*==========================
	
  # BASE WIDTH < 768px
  
==========================*/

/*-------------------------

	# MAIN-BAR -- Header
  
--------------------------*/

.spacer-main-bar__div {
  height: 48px;
  width: 100%;
}

.main-bar__header {
  z-index: 1000;
  height: 48px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  box-shadow: 0 0 32px rgba(0,0,0,.15);
  overflow: hidden;
}



.main-bar__header nav {
  height: 100%;
}

.nav--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


.isolate-home__div {
  height: 100%;
  display: inline-block;
  float: left;
}

.home__nav {
  float: left;
  width: 106px;
  background:          linear-gradient(to bottom right, #c09,#f42 85%);
  background:  -webkit-linear-gradient(to bottom right, #c09,#f42 85%);
  background:       -o-linear-gradient(to bottom right, #c09,#f42 85%);
  background:     -moz-linear-gradient(to bottom right, #c09,#f42 85%);
}

.home-image__div {
  height: 16px;
  width: 66px;
  background-image: url("../images/icons/tnw.svg");
  background-repeat: no-repeat;
}



.isolate-company-nav__div {
  display: none;
}

.isolate-topic-nav__div {
  display: none;
}




.isolate-search__div {
  height: 100%;
  display: inline-block;
  float: right;
}

.search__nav {
  float: right;
  width: 46px;
  border-right: 1px solid #ccc;

  -webkit-transform:rotateY(180deg);
     -moz-transform:rotateY(180deg);
       -o-transform:rotateY(180deg);
      -ms-transform:rotateY(180deg);
  color: #bbb;
}

.search__nav:hover {
  color: #555;
}



.isolate-menu__div {
  height: 100%;
  display: inline-block;
  float: right;
}

.menu__nav {
  float: right;
  width: 46px;
  border-left: 1px solid #bbb;
  color: #f42;
}





/*-------------------------------

	#WALLPAPER -- Section
  
-------------------------------*/

.wallpaper-segment__section {
  height: 90%;
  width: 98%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
}



.wallpaper__article {
  height: 32%;
  width: 100%;
  background-color: #b1952c;
  margin-bottom: 6px;
  overflow: hidden;
}

.wrapper-wallpaper__div {
  height: 64%;
  width: 100%
}

.wallpaper__article--secondary {
  height: 50%;
}


.wallpaper__figure {
  position: relative;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.wallpaper__figure1 {
  background-image: url("../images/wallpaper/G5-Review-5-796x531.jpg");
}

.wallpaper__figure2 {
  background-image: url("../images/wallpaper/nutonomy-self-driving-cab-796x398.jpg");
}

.wallpaper__figure3 {
  background-image: url("../images/wallpaper/kirby-cafe-796x398.jpg");
}


    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        The combination of...
            - background-size: cover 
            - background-position: center center
        ...gives the illusion that the picture will expand and keep focus
        while the height and width of the window changes; to keep this
        fluid the browser needs to accept media queries to adjust total
        widths.
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.overlay__div {
  height: 100%;
  width: 100%;
  position: relative;
  background: url("../images/image-gradient.png");
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.25);
}

.date__paragraph--overlay {
  display: none;
}

.wallpaper__header {
  position: absolute;
  padding: 10px;
  color: #fff;
  bottom: 0;
}

.wallpaper__header {
  line-height: 1.4em;
}

.topic__heading4 {
  font-size: 1em;
}

.title__heading2 {
  font-weight: bold;
  font-size: 1.3em;
}

.author__paragraph {
  display: inline-block;
  font-size: 0.8em;
  color: #aaa;
}

.shares__paragraph--primary {
  display: inline-block;
  margin-left: 6px;
}

.shares__paragraph--secondary {
  display: inline-block;
  margin-left: 6px;
}

/*-------------------------

	#LATEST-NEWS -- Section
  
--------------------------*/

.latest-news__section {
  min-height: 1px;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}

.latest-news__header {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-bottom: 1.1%;
  font-size: 2em;
  font-weight: bold;
  color: #f42;
}

.latest-news__unordered-list {
  width: 100%;
}

.latest-news__list-item {
  display: inline-block;
  min-height: 70px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.latest-news__list-item--last {
  margin-bottom: 0;
  padding-bottom: 0;
}

.latest__figcaption {
  min-width: 50px;
  margin-top: 2px;
  margin-left: 86px;
}

.latest-title__heading4 {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 10px;
}

.latest-author__paragraph {
  font-size: 0.8em;
  color: #aaa;
}

.latest__figure {
  height: 72px;
  width: 72px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.latest__figure--1 {
  background-image: url("../images/latest/autoplay-461x270.gif");
}

.latest__figure--2 {
  background-image: url("../images/latest/keyboard-1200x600.jpg");
}

.latest__figure--3 {
  background-image: url("../images/latest/ezgif.com-optimize-3-2.gif");
}

.latest__figure--4 {
  background-image: url("../images/latest/TouchIDiPadminiTNW-1200x630.jpg");
}

.latest__figure--5 {
  background-image: url("../images/latest/Speech-recognition-796x398.jpg");
}

.latest__figure--6 {
  background-image: url("../images/latest/wikileaks-469x270.jpg");
}

.latest__figure--7 {
  background-image: url("../images/latest/Google-Fiber-730x283.png");
}

.latest__figure--8 {
  background-image: url("../images/latest/SpigeniPhone7CasesTNW-540x270.jpg");
}





/*-------------------------

	#TOPIC -- Section
  
--------------------------*/

.topics__section {
  min-height: 1px;  
}

.topic__article {
  min-height: 100px;
  width: 92%;
  margin: 0 auto;
}

.topic__header {
  font-size: 1.5em;
  font-weight: bold;
  color: #f42;
  margin-top: 20px;
  margin-bottom: 16px;
}

.topic__figure {
  width: 100%;
  height: 67.5vw;
  position: relative;
  background-position: center center;
  background-size: cover;
}

.topic__figure--1 {
  background-image: url("../images/topic/Lifestage.jpg")
}

.topic__figure--2 {
  background-image: url("../images/topic/gear-mural.png")
}

.topic__figure--3 {
  background-image: url("../images/topic/tech-mural.jpg")
}

.topic__figure--4 {
  background-image: url("../images/topic/creative-mural.png")
}

.topic__figure--5 {
  background-image: url("../images/topic/money-mural.jpg")
}

.topic__figure--6 {
  background-image: url("../images/topic/insights-mural.jpg")
}

.topic__figure--7 {
  background-image: url("../images/topic/launch-mural.jpg")
}

.topic__figure--8 {
  background-image: url("../images/topic/world-mural.jpg")
}

.topic__figure--9 {
  background-image: url("../images/topic/distract-mural.jpg")
}


.overlay__div--topic {
  height: 100%;
  width: 100%;
  position: relative;
  background: url("../images/image-gradient.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
}

.topic-figure__header {
  position: absolute;
  bottom: 10px;
  left: 14px;
  margin-right: 10px;
  color: #fff;
  
}

.topic-topic__heading4 {
  font-size: 0.75em;
}

.topic-title__heading2 {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
  margin-top: 6px;
}

.topic-author__paragraph {
  font-size: 0.75em;
  margin-top: 6px;
  margin-bottom: 4px;
  color: #aaa;
}




.latest-topic__footer {
  height: 72px;
  background-color: rgba(255,68,34,.06);
  position: relative;
  margin-top: 2px;
  color: #f42;
  overflow: hidden;
}

.latest-topic__figure {
  position: absolute;
  right: 0;
  height: 72px;
  width: 72px;
  background-size: cover;
  background-position: center center;  
}

.latest-topic__figure--1 {
  background-image: url("../images/topic/double-dog.png");
}

.latest-topic__figure--2 {
  background-image: url("../images/topic/gear-latest.jpg");
}

.latest-topic__figure--3 {
  background-image: url("../images/topic/tech-latest.png");
}

.latest-topic__figure--4 {
  background-image: url("../images/topic/creative-latest.png");
}

.latest-topic__figure--5 {
  background-image: url("../images/topic/money-latest.jpg");
}

.latest-topic__figure--6 {
  background-image: url("../images/topic/insights-latest.jpg");
}

.latest-topic__figure--7 {
  background-image: url("../images/topic/launch-latest.jpg");
}

.latest-topic__figure--8 {
  background-image: url("../images/topic/world-latest.jpg");
}

.latest-topic__figure--9 {
  background-image: url("../images/topic/distract-latest.png");
}


.latest-topic__heading6 {
  font-size: 0.9em;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-top: 8px;
}

.topic-title__heading4 {
  position: relative;
  font-size: 0.95em;
  font-weight: bold;
  float: left;
  clear: left;
  margin-right: 82px;
  margin-left: 10px;
  bottom: 0;
  line-height: 1.1em;
}

.topic__unordered-list {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 6px;
}

.topic__list-item {
  line-height: 1.3em;
  font-size: 0.8em;
  text-indent: -.5em;
  margin-left: 1.8em;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #EEE;
  color: #555;
}

.topic__list-item:before {
  display: inline-block;
  content: "• ";
  color: #f42; /* or whatever color you prefer */
  padding-right: 6px;
}

/*==========================
	
  # MIN-WIDTH 768px
  
==========================*/

@media only screen and ( min-width: 768px ) {

/*-------------------------

	#MAIN-BAR -- Header
  
--------------------------*/

.spacer-main-bar__div {
  height: 80px;
}

.main-bar__header {
  height: 80px;
}





.isolate-home__div {
  height: 100%;
  display: inline-block;
  float: left;
}



.isolate-search__div {
  height: 60%;
}



.isolate-menu__div {
  height: 60%;
}



.isolate-company-nav__div {
  height: 40%;
  display: block;
  clear: right;
}

.company-links__nav {
  color: #fff;
  background-color: #000;
}



.company__unordered-list--left {
  float: left;
  margin-left: 10px;
}

.company__unordered-list--right {
  margin-right: 8px;
}

.company__list-item--left {
  float: left;
  margin: 10px 0 0 10px;
}

.company__list-item--right {
  float: right;
  margin: 10px 10px 0 0;
}
  
.company__list-item {
  font-size: 0.8em;
  font-weight: bold;
  color: #aaa;
}

.company__list-item--primary {
  color: #eee;
}




.isolate-topic-nav__div {
  display: block;
}

.topic-links__nav {
  float: left;
  font-size: 0.8em;
  color: #aaa;
}

.topic-nav__unordered-list {
  float: left;
  margin-left: 10px;
}

.topic-nav__list-item {
  float: left;
  margin: 20px 0 0 12px;
}

.topic-nav__list-item--1024px {
  display: none;
}



/*-------------------------
	
  # WALLPAPER -- Section
  
--------------------------*/

.wallpaper-segment__section {
  height: 49%;
  overflow: hidden;
  flex-wrap: wrap;
}

.wallpaper__article--primary {
  height: 100%;
  width: 65%;
  margin-right: 8px;
}

.wrapper-wallpaper__div {
  width: 33.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.title__heading2--primary {
  font-family: Verdana;
  font-size: 2.2em;
  line-height: 1em;
}

.author__paragraph--primary {
  padding: 10px 0 6px 0;
}

.shares__paragraph--secondary {
  display: none;
}





/*----------------------------------
	
  # LATEST-NEWS -- Section
  
----------------------------------*/

.latest-news__header {
  margin-left: 10px;
}

.latest-news__section {
  min-height: 1px;
  margin-bottom: 40px;
}

.latest-news__unordered-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.latest-news__list-item {
  display: flex;
  flex-basis: 33.333333%;
  padding: 10px 10px 6px 10px;
  min-height: 100px;
  margin: 0;
  flex-direction: column;
}

.latest__figure {
  width: 100%;
  height: 14.4vw;
}

.latest__figcaption {
  margin: auto;
  width: 100%;
  margin-top: 10px;
}






/*----------------------------------
	
  #TOPIC -- Section
  
----------------------------------*/

.topics__section {
  width: 98%;
  margin: auto;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.topic__article {
  box-sizing: border-box;
  width: 50%;
  padding: 10px;
  margin: 0 0;
}

.topic__figure {
  height: 34.17vw;
}


}






/*%%%%%%%%%%%%%%%%%%%%%%%%%%
	
  # MIN-WIDTH 910px
  
%%%%%%%%%%%%%%%%%%%%%%%%%%*/

@media only screen and ( min-width: 910px ) {

/*----------------------------------
	
  # WALLPAPER -- Section
  
----------------------------------*/

.wallpaper-segment__section {
  height: 58%;
}








}









/*%%%%%%%%%%%%%%%%%%%%%%%%%%
	
  #MIN-WIDTH 1024px
  
%%%%%%%%%%%%%%%%%%%%%%%%%%*/

@media only screen and ( min-width: 1024px ) {

/*----------------------------------
	
  #MAIN-BAR -- Header
  
----------------------------------*/

.topic-nav__list-item--1024px {
  display: block;
}

.topic-nav__list-item--hidden {
  display: none;
}



/*----------------------------------

  #WALLPAPER-SEGMENT -- Section
  
----------------------------------*/

.wallpaper-segment__section {
  height: 61%;
}

.isolate-home__div {
  display: none;
}

.overlay__div--home {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url("../images/cover-gradient.png");
  background-size: cover;
  z-index: 1;
}


    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        The z-index allows the overlay__div--home to show its gradient
        on its own plane and therefore not need to compete with the other
        overlay__div
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.home-image__div--overlay {
  height: 140px;
  width: 320px;
  float: left;
  background-image: url("../images/icons/tnw.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-top: 1.5em;
  margin-left: 1.5em;
  
}

.date__paragraph--overlay {
  display: block;
  float: right;
  color: #fff;
  font-size: 0.9em;
  margin-top: 1.5em;
  margin-right: 1em;
}

.wallpaper__header {
  margin-left: 10px;
}

.title__heading2--primary {
  font-size: 3em;
}



.title__heading2--secondary {
  font-size: 1.6em;
  line-height: 1.2em;
}






/*-------------------------
	
  #LATEST-NEWS -- Section
  
--------------------------*/

.latest-news__section {
  
}

.latest-news__list-item {
  flex-basis: 25%;
}

.latest__figure {
  height: 11.08vw;
}






/*-------------------------
	
  #TOPIC -- Section
  
--------------------------*/

.topic__article {
  box-sizing: border-box;
  width: 33.333333%;
  padding: 10px;
  margin: 0 0;
}

.topic__figure {
  height: 22.75vw;
}



} /* END of #1024px as min-width */






/*%%%%%%%%%%%%%%%%%%%%%%%%%%
	
  #MIN-WIDTH 1190px
  
%%%%%%%%%%%%%%%%%%%%%%%%%%*/

@media only screen and ( min-width: 1190px ) {

.latest-news__section {
  width: 1121px;
}

.latest__figure {
  height: 135.85px;
}

}





/*%%%%%%%%%%%%%%%%%%%%%%%%%%
	
  # MIN-WIDTH 1210px
  
%%%%%%%%%%%%%%%%%%%%%%%%%%*/

@media only screen and ( min-width: 1190px ) {

.topics__section {
  width: 1160px;
  margin: auto;
}

.topic__figure {
  height: 275.983px;
}




}





/*
@media only screen and ( min-width: 320px ) {
  .media-query__div:after {
    background-color: #9ecdff;
    content: "320px < width < 480px";
  }
}
*/






